body {
    background-color: azure;
}

.errorMessage {
    color: red;
}

.nameError {
    color: red;
}


/* input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

input:invalid:required {
    border: 2px solid black;
  }
   */